
@keyframes form-price {
        from {
            transform: translate(5.5vh, 0);
        }
        to{
            transform: translate(0, 0);
        }
}

@keyframes form-bloc_i {
    from{
        transform: translate(5.5vh, 0);
    }
    to{
        transform: translate(0, 0);
    }
}

@keyframes form-bloc-i{
    from{
        @include transform(rotate(0deg));
    }
    to{
        @include transform(rotate(360deg));
    }   
}