/* Variables for the font */
$size_police: 16px;
$logo_police: 'Shrikhand', cursive;
$text_police: 'Roboto', sans-serif;
/* Color */ 
$primary_color : #9356DC;
$second_color : #FF79DA;
$third_color : #99E2D0;
$third_color700: #39a98e;
$gray_color100: #f6f6f6;
$gray_color400:  #eaeaea;
$gray_color700: #7e7e7e;
$gray_color900: #353535;


