
/* Variables for the font */
$size_police: 16px;

$logo_police: 'Shrikhand', cursive;
$text_police: 'Roboto', sans-serif;

/* Color */ 
$primary_color : #9356DC;
$second_color : #FF79DA;
$third_color : #99E2D0;

$fourth_color: #f6f6f6;
$fifth_color:  #eaeaea;
$sixth_color: #7e7e7e;

$seventh_color: #99e2d0;
$height_color: #39a98e;

$ninth_color: #353535;
