main{
    section{
        h2{
            font-weight: bold;
        }
    }
}

.container-index {
    @media screen and (min-width: 810px) {
        display: grid;
        grid-template-areas: ' lo lo lo lo lo lo lo lo lo lo'
                             ' pr pr pr pr pr pr pr pr pr pr '                               
                             ' pr pr pr pr pr pr pr pr pr pr '                               
                             ' fu fu fu fu fu fu fu fu fu fu ' 
                             ' fu fu fu fu fu fu fu fu fu fu '                              
                             ' re re re re re re re re re re '                              
                             ' re re re re re re re re re re '                              
                             ' re re re re re re re re re re '                              
                             ' re re re re re re re re re re '                              
                             ' re re re re re re re re re re '                              
                             ;
    }
}