footer {
    background-color: $gray_color900;
    color: white;
    padding: 1rem 2rem 3rem 2rem;
    h1 { 
        font-family: $logo_police;
        font-size: 1.2rem;
    }
    ul {
        margin-top: 1rem;
    } 
    li {
        margin-top: .5rem;
        &.li_logo{
            display: grid;
            grid-template-columns: 1rem 1fr;
            a {
                margin-left: .75rem;
            }
        }
        i {
            text-align: center;
        }
        a {
            color: white;
            &:hover{
                text-decoration: underline;
            }
         }
    }
    @include desktop {
        ul{
            display: flex;
            li { 
                margin-left: 2rem;
                &:nth-child(1) {
                    margin-left: 0;
                }
            }
        }
    }
}