

footer{

    background-color: $ninth_color;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 3rem;

    color: white;

    h1{
        font-family: 'Shrikhand', cursive;    font-family: 'Shrikhand', cursive;
        font-style: italic;
        font-size: 1.2rem;
   }

    ul{
        margin-top: 1rem;
    } 

    li{
        margin-top: .5rem;
         
        &.li_logo{
            display: grid;
            grid-template: 1fr / 1rem 1fr;

            a{
                margin-left: .75rem;
            }
        }

        i{
            text-align: center;
         }

         a{
            color: white;

            &:hover{
                text-decoration: underline;
            }
         }

    }
}