

.form_location{

    padding: .5rem;
    background-color: $fifth_color;
    text-align: center;

    input{
        font-size: 1rem;
        background: none;
        border:none;
        margin-left: .5rem;
        padding: .25rem;
        width: 25%;
    }

}


.form_menu{

    input{
        
        display: none;

        &:hover + .menu-choice p.menu-price{

            animation-duration: 1s;
            animation-name: test;

            top: 2.5rem;
            left: 1.5rem;
        }

        &:hover + .menu-choice .menu-bloc_i{
            animation-duration: 1s;
            animation-name: test2;

            left: 0rem;

            /* Animation à faire */
        }

        &:hover + .menu-choice .menu-bloc_i i{
            animation-duration: 1s;
            animation-name: test3;
        }
    }

    @keyframes test {
        from {
            top: 2.5rem;
            left: 5.5rem;
        }
        to{
            top: 2.5rem;
            left: 1.5rem;
        }
    }

    @keyframes test2 {
        from{
            left:4rem;
        }
        to{
            left:0rem;
        }
        
    }

    @keyframes test3 {
        from{
            transform: rotate(0);
        }
        to{
            transform: rotate(360deg);
        }
        
    }



}