header {
    padding-top: 1.25rem;
    padding-bottom: .75rem;
    display: flex;
    align-items: center;   
    img {
        width: 40%;
        max-width: 40%;
    }
    a {
        width: 30%;
    }
    i {
        margin-left: 1rem; 
        font-size: 1.25rem;
        &:hover {
            color: $primary_color;
        }
    }
    &.header-index {
        box-shadow: 0px 2px 2px rgba(0,0,0,.15);
        display: block;
        text-align: center;
    }
    
    @include tablet {
        a {
            width: 35%;
        }
        img {
            width: 30%;
        }
        i{
            font-size:1.5rem;
        }
    }
    @include desktop {
        img {
            width: 20%;
            max-width: 20%;
        }
        a {
            width: 40%;
        }
        i {
            margin-left: 2rem;
        }
    }
}