/* Variables for the font */
/* Color */
@keyframes form-price {
  from {
    transform: translate(5.5vh, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes form-bloc_i {
  from {
    transform: translate(5.5vh, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes form-bloc-i {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html, body {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}
body h1 {
  font-size: 2rem;
}
body h2 {
  font-size: 1.5em;
}

.logo {
  font-family: "Shrikhand", cursive;
}

body a {
  color: black;
  text-decoration: none;
}

header {
  padding-top: 1.25rem;
  padding-bottom: 0.75rem;
}
header img {
  max-width: 45%;
  font-size: 1rem;
}
header.header-restaurants {
  display: grid;
  grid-template: 1fr/30% 70%;
}
header.header-restaurants img {
  max-width: 60%;
}
header.header-restaurants i {
  padding-left: 1.5rem;
  font-size: 1.25rem;
}
header.header-restaurants i:hover {
  color: #9356DC;
}
header.header-index {
  position: relative;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

main section h2 {
  font-weight: bold;
}

.presentation {
  text-align: center;
  padding: 2rem;
  padding-bottom: 4rem;
  background-color: #f6f6f6;
}
.presentation h1 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 1.5rem;
  font-weight: bold;
}
.presentation p {
  font-weight: lighter;
  margin-top: 0.75rem;
  margin-bottom: 3rem;
  font-size: 1.15rem;
}

.function {
  padding: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.function ul {
  margin-top: 2rem;
}
.function ul li {
  background-color: #f6f6f6;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 0px 25% 1fr;
  align-items: center;
  margin: 1rem;
  padding: 1.25rem;
  padding-left: 0;
  border-radius: 1rem;
  transition: background-color 0.5s, box-shadow 0.5s;
}
.function ul li .num {
  background-color: #9356DC;
  color: white;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -0.5rem;
  border-radius: 5rem;
  height: 25px;
  width: 25px;
}
.function ul li i {
  color: #7e7e7e;
  margin-left: 2.5rem;
  transition: color 0.5s;
}
.function ul li i.logo_tel {
  font-size: 1.25rem;
}
.function ul li i.logo_list {
  font-size: 1.05rem;
}
.function ul li .text {
  font-weight: 500;
}
.function ul li:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: #f4eefc;
}
.function ul li:hover i {
  color: #9356DC;
}

.restaurant {
  padding: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #f6f6f6;
}
.restaurant h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.main-restaurants section {
  margin-top: 2rem;
}
.main-restaurants section .title-border {
  margin-top: 0.25rem;
  height: 0.15rem;
  width: 4rem;
  background-color: #99e2d0;
}

.form_location {
  background-color: #eaeaea;
  color: #353535;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_location i {
  margin-left: 2.5rem;
}
.form_location input {
  padding-left: 1rem;
  font-size: 1rem;
  background: none;
  border: none;
}

.form_menu input {
  display: none;
}
.form_menu .menu-choice:hover p.menu-price {
  transform: translate(0, 0);
}
.form_menu .menu-choice:hover .menu-bloc_i {
  transform: translate(0, 0);
}
.form_menu .menu-choice:hover .menu-bloc_i i {
  transform: rotate(360deg);
}

footer {
  background-color: #353535;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  color: white;
}
footer h1 {
  font-family: "Shrikhand", cursive;
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-size: 1.2rem;
}
footer ul {
  margin-top: 1rem;
}
footer li {
  margin-top: 0.5rem;
}
footer li.li_logo {
  display: grid;
  grid-template: 1fr/1rem 1fr;
}
footer li.li_logo a {
  margin-left: 0.75rem;
}
footer li i {
  text-align: center;
}
footer li a {
  color: white;
}
footer li a:hover {
  text-decoration: underline;
}

.btn {
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC);
  /*background: $primary_color;*/
  color: white;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  /*transition: background-color 2s, box-shadow 2s;
  &:hover {
      background-color: $second_color;
      box-shadow: 1px 4px 5px rgba(0,0,0,.4);
  }*/
}

.btn-cmd {
  padding-left: 4rem;
  padding-right: 4rem;
}

.container-heart {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  z-index: 1;
}
.container-heart i {
  position: absolute;
  color: black;
  font-size: 1.5rem;
  transition: transform 1s;
}
.container-heart i.heart-empty {
  color: black;
}
.container-heart i.heart-full {
  top: -0.1rem;
  left: -0.05rem;
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
  font-size: 1.7rem;
  z-index: 2;
}
.container-heart:hover .heart-full {
  transform: scale(1);
}

.card {
  width: 100%;
  position: relative;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  margin-top: 1rem;
}
.card img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 173px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.card img.position-center_bottom {
  object-position: center bottom;
}
.card img.position-center_61 {
  object-position: center 61%;
}
.card p.new {
  background-color: #99e2d0;
  color: #39a98e;
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  border-radius: 0.1rem;
}
.card .description {
  width: 100%;
  padding: 0.75rem;
  position: relative;
}
.card .description .title {
  font-weight: bold;
}
.card .description .city {
  margin-top: 0.25rem;
  font-weight: 300;
}

.menu-choice {
  margin-top: 1rem;
  background-color: white;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  padding-left: 0.5rem;
  display: grid;
  grid-template-areas: "title . i" "legend price i";
  grid-template-columns: 70% 15% 15%;
  overflow: hidden;
}
.menu-choice .menu-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.15rem;
  font-weight: bold;
  margin-top: 0.75rem;
  grid-area: title;
}
.menu-choice .menu-legend {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  grid-area: legend;
}
.menu-choice .menu-price {
  font-weight: bold;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  grid-area: price;
  transform: translate(5.5vh, 0);
  transition: 1s;
}
.menu-choice .menu-bloc_i {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  background-color: #99e2d0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  grid-area: i;
  transform: translate(5.5vh, 0);
  transition: 1s;
}
.menu-choice .menu-bloc_i i {
  font-size: 1.25rem;
  transform: rotate(0deg);
  transition: 1s;
}

.restaurant-img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.main-restaurants {
  position: relative;
  padding: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #eaeaea;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-top: -3.5rem;
}
.main-restaurants .div-btn_command {
  width: 100%;
  text-align: center;
  margin-top: 4rem;
  padding-bottom: 4rem;
}

.restaurants-title {
  display: grid;
  grid-template: 1fr/85% 5%;
  align-items: center;
}
.restaurants-title h1 {
  font-size: 1.75rem;
  font-family: "Shrikhand", cursive;
}
.restaurants-title i {
  font-size: 1.75rem;
}

/*# sourceMappingURL=style.css.map */
