.step_menu {
    &.entree .menu-choice {
        animation-delay: .5s;
    }
    &.meal .menu-choice {
        animation-delay: 1s;
    }
    &.dessert .menu-choice {
        animation-delay: 1.5s;
    }
    .menu-choice {
        animation: fadein 1s;
        animation-fill-mode: forwards;
        .menu-price {
            transform: translate(100%, 0);
            transition: transform 1s;
        }
        .menu-bloc_i {
            transform: translate(100%, 0);
            transition: transform 1s;
            i {
                transform: rotate(0deg);
                transition: 1s;
            }
        }
        &:hover {
            .menu-price {
                transform: translate(0, 0);
            }
            .menu-bloc_i {
                transform: translate(0, 0);
            }
            .menu-bloc_i i {
                transform: rotate(360deg);
            }
        }
    }
}
@keyframes fadein {
    from {
        opacity:0;
        transform: translateY(30px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}