.step_menu {
    .menu-choice {
        animation: fadein .5s;
        animation-fill-mode: forwards;
        .menu-price, .menu-bloc_i {
            transition: transform .5s;
            i {
                transition: .5s;
            }
        }
        &:hover {
            .menu-price, .menu-bloc_i {
                transform: translateX(0);
            }
            .menu-bloc_i i {
                transform: rotate(-360deg);
            }
        }
    }
    &.entree .menu-choice {
        animation-delay: .5s;
    }
    &.meal .menu-choice {
        animation-delay: .75s;
    }
    &.dessert .menu-choice {
        animation-delay: 1s;
    }
    
}
@keyframes fadein {
    from {
        opacity:0;
        transform: translateY(30px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}