 /* Animation loading page */
 $duration-animation_spinner: 3s;
 .container-spinner {
    animation-name: animation-spinner_start;
    animation-duration: $duration-animation_spinner;
    i {
        animation-name : animation-spinner;
        animation-duration: $duration-animation_spinner;
    }
}
.wait {
    animation-name: animation-view_container;
    animation-duration: $duration-animation_spinner;
}
/* KEYFRAMES */
@keyframes animation-spinner_start {
    from {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes animation-view_container {
    from {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes animation-spinner {
    from {
        color : $primary_color;
    }
    50% {
        transform: rotate(360deg);
        color: $second-color;
    }
    to {
        transform: rotate(720deg);
        color : $primary_color;
    }
}

