

.btn {
    background: linear-gradient(170deg,$second_color 0%, $primary_color );
    color: white;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    box-shadow: 1px 4px 5px rgba(0,0,0,.20);
}

.div-btn_command{
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    padding-bottom: 4rem;
    .btn_cmd {
        @extend.btn;
        border: none;
        padding: 1rem 3rem;
    }
}


.container-heart{
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    z-index: 1;
    i {
        color : black;
        position: absolute;
        font-size: 1.5rem;
        &.heart-full{
            background: linear-gradient(170deg,$second_color 0%, $primary_color );
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-size: 1.7rem;
            top: -.14rem;
            left: -.1rem;
            transform: scale(0);
            z-index: 2;
        }
    }
}