.menu-choice {
    background-color: white;
    overflow: hidden;
    display: grid;
    grid-template-columns: 80% 20% 20%;
    grid-template-areas: 'title . i'
                          'legend price i'; 
    margin-top: 1rem;
    padding-left: .5rem;
    border-radius: 1rem;
    box-shadow: 2px 4px 10px rgba(0,0,0,.15);
    opacity:0;
    .menu-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: .75rem;
        grid-area: title;
    }
    .menu-legend {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 300;
        margin-top: .25rem;
        margin-bottom: .75rem;
        grid-area: legend;
    }
    .menu-price {
        font-weight: bold;
        margin-top: .25rem;
        margin-bottom: .75rem;
        grid-area: price;
        text-align: right;
        padding-right: .75rem;
    }
    .menu-bloc_i {
        background-color: $third_color;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        grid-area: i;
        i{
            font-size: 1.25rem; 
        }
    }
    @include tablet {
        width: 95%;
        max-width: 95%;
        grid-template-columns: 1fr 8vh 8vh;
    .menu-title,.menu-legend{
            padding: .25rem;
        }
        .menu-price{
            padding-top: .25rem;
        }
    }
    .menu-bloc_i i{
        width: 1.5rem;
    }
}