.form_menu {
    input {
        display: none;
    }
    .menu-choice:hover {
        p.menu-price{
            transform: translate(0, 0);
        }
        .menu-bloc_i {
            transform: translate(0, 0);
        }
        .menu-bloc_i i {
            transform: rotate(360deg);
        }
    }
}