.form_location {
    background-color: $gray_color400;
    color: $gray_color900;
    padding-top: .75rem;
    padding-bottom: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        margin-left: 2.5rem;
    }
    input {
        background: none;
        color : $gray_color900;
        padding-left: 1rem;
        font-size: 1rem;
        border:none;
    }
}