.function {
    padding : 2rem 1rem;
    ul {
        margin-top: 2rem;
    }
    ul li {
        background-color: $gray_color100;
        box-shadow: 2px 4px 10px rgba(0,0,0,.15);
        display: grid;
        grid-template-columns: 0 25% 1fr;
        align-items: center;
        margin: 1rem;
        padding: 1.25rem;
        padding-left: 0;
        border-radius: 1rem;
        .num {
            background-color: $primary_color;
            color: white;
            font-size: .8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -.5rem;
            border-radius: 5rem;
            height: 25px;
            width: 25px;
        }
        i {
            color: $gray_color700;
            margin-left: 2.5rem;
            transition: color .5s;
            &.logo_tel {
                font-size: 1.25rem;
            }
            &.logo_list {
                font-size: 1.05rem;
            }
        }
        .text {
            font-weight: 500;
        }
        &:nth-child(3) {
            background-color: lighten($primary-color,35%);
            i {
                color: $primary-color;
            }  
        }
    }
    @media screen and (min-width: 810px) {
        grid-area: fu;
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: baseline;
            li {
                text-align: center;
                grid-template: 0 25% 1fr / 1fr;     
                .num {
                    margin-top : -2rem;
                    margin-left:calc(50% - 12.5px);
                }
                i {
                    margin: 1rem 0;
                    font-size: 2rem;
                    &.logo_tel {
                        font-size: 2.25rem;
                    }
                    &.logo_list {
                        font-size: 2.05rem;
                    }
                }
                .text {
                    padding-top: .5rem;
                }
            }
        }
    }
    @include desktop {
        padding: 4rem 2rem;
        li {
            i{  
                &.logo_tel {
                    font-size: 2.25rem;
                }
                &.logo_list {
                    font-size: 3.05rem;
                }
            }
        }
    }
}
