.presentation {
    background-color: $gray_color100;
    text-align: center;
    padding: 2rem;
    padding-bottom: 4rem;
    h2 {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 1.5rem;
        font-weight: bold;
    }
    p {
        margin-top: .75rem;
        margin-bottom: 3rem;
        font-size: 1.15rem;
        font-weight:lighter;
    }
    @include tablet {
        grid-area: pr;
        padding: 4rem 0rem;
    }
}
