.restaurant {
    background-color: $gray_color100;
    padding: 2rem 1rem;
    h2 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    @media screen and (min-width: 810px) {
        grid-area: re;
        display: grid;
        grid-template-areas:'h2 .'
                            'r2 r3'
                            'r4 r5'    
        ;
        h2{
            margin-top: 0;
            grid-area: h2;
        }
    }
    @for $i from 2 through 5 {
        .card:nth-child(#{$i}) {
            grid-area: r#{$i};
        }
    }
    @media screen and (min-width: 1024px) {
        padding: 4rem 2rem;
        grid-template-areas: 'h2 . . .'
                             'r2 r3 r4 r5'
        ;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}