.container-restaurants section {
    margin-top: 2rem;
    .step_menu {
        margin-top: 2rem;
        h2 {
            font-size: 1rem;
            font-weight: 400;
        }
    }
    .title-border {
        background-color: $third_color;
        margin-top: .25rem;
        height: .18rem;
        width: 2.5rem;
    }
}
